<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <seciton class="user_info">
        <%= render 'shared/user_info' %>
      </seciton>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Microposts Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcom to the Sample App</h1>
    <h2>
      This is the Home page for the
       <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application..*
    </h2>
      
    <%= link_to "Sing up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  <%= link_to image_tag("rails.png", alt: "Rails logo"),
                'http://rubyonrails.org/' %>
  
  <%#= image_tag("kitten.jpg", alt: "Kitten") %>
<% end %>